* {
    font-family: "Brush Script MT", cursive, sans-serif;
}

#homepage {
    background-color: #FCE7C8;
}

#page1 {
    background-color: #F0E68C;
}

#page2 {
    background-color: #e9967aa9;
}

#page3 {
    background-color: #ffa60095;
}