* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Brush Script MT", cursive, sans-serif;
}

hr {
    border: 1px solid rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 20px;
}

#homepage{
    background-color: #FCE7C8;
}

#page1 {
    background-color: #F0E68C;
}

#page2 {
    background-color: #e9967aa9;
}

#page3 {
    background-color: #ffa60095;
}

header, .container {
    margin: 0 auto 20px auto;
    max-width: 1000px;
}

header{
    padding-top: 30px;
    padding-bottom: 10px;
    max-width: 1500px;
}

.container{
    height: 100vh;
}

.container.recipe-page{
    max-width: 1200px;
}

.header.homepage{
    font-size: 40px;
    
}

.header.recipe-name{
    display: inline-block;
    margin: 24px 12px;
}

.recipe-container{  
    height: 750px;
    margin: 24px 40px;
}

.back-button{
    width: 30;
    height: auto;
    margin-left:20px;
    transition: transform 0.3s ease-in-out;
}

.back-button:hover{
    transform: scale(1.3)
}

.recipe-list{
    list-style: none;
}

.recipe {
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.recipe-item h2{
    display: inline-block;
    text-decoration: none;
    color: rgb(41, 41, 41);
    font-weight: bold;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.recipe-item:hover h2{
    transform: translateX(100px);
}

.recipe-item.hungarian-sausage-sandwich:hover h2{
    color: #979159;
}

.recipe-item.hotdog-burnt-ends:hover h2{
    color: #8c452da9;
}

.recipe-item.touchdown-pizza:hover h2{
    color: #9e6b0c95;
}

.recipe-image{
    width: 100%;
    height: 300px;
    object-fit:cover;
    border-radius:20px;
    filter: drop-shadow(30px 12px 4px rgb(165, 141, 109));
    transition: filter 00.3s ease-in-out;
}

.recipe-item:hover .recipe-image{
    filter: drop-shadow(15px 10px 4px #3d2d16);
}

.recipe-title{
    margin-top: 16px;
    margin-bottom: 30px;
}

.image{
    display: block;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 10px;
    filter: drop-shadow(20px 10px 4px #2e2e2e);
}

.description{
    margin-top: 20px;
    margin-bottom: 20px;
}

.description-text{
    margin-left: 15px;
}

.ingredients{
    margin-top: 20px;
    margin-bottom: 20px;    
}

.text{

}

.ingredients li{
    list-style:circle;
    margin-left: 40px;
}

.steps ol{
    margin-left: 40px;
}